/flood_mask_delft.tif
/flood_summary_delft.txt
/flood_mask_nice.tif
/flood_summary_nice.txt
/flood_polygons_delft.geojson
/flood_polygons_nice.geojson
/flood_mask_mumbai.tif
/flood_polygons_mumbai.geojson
/flood_summary_mumbai.txt
